<div class="flex-row v-center sort-menu-container"
    uib-popover-template="popoverUrl"
    popover-placement="left-top"
    popover-trigger="'outsideClick'">
    <span class="fas fa-sort"></span>
    {{sortMenu.title}}
</div>

<script type="text/ng-template" id="sortMenuPopover.html">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" 
            ng-repeat="sortObject in sortMenu.sortObjects"
            ng-class="{'active': sortObject == sortMenu.ngModel}"
            ng-click="sortMenu.setSortObject(sortObject)">
            {{sortObject.label}}
        </li>
    </ul>
</script>