.sidebar-col {
    background-color: $primary-color;
}

.flex-row {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

.flex-align-beginning {
    align-items: baseline !important;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-by-half {
    flex: 1
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.main-navbar .nav-item {
    color: white;
}

.side-bar .nav-item {
    color: white;
}

.nav-item:hover {
    cursor: pointer;
}

.hoverable {
    cursor: pointer;
}

.text-green {
    color: #28a745;
}

.grey-bottom-border {
    border-bottom: 1px solid #dee2e6;
}