media-item-card {
    .mediaitem-info {
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(0,0,0,.125);

        .media-item-love-info {
            margin-bottom: .75rem;

            .fa-heart {
                font-size: 1.25rem;

                &:hover {
                    cursor: pointer;
                }
            }
    
            .fa-heart.active {
                color: red;
            }
        }
    }

    .video-card {
        margin-bottom: 15px;
    }
}