<div class="card video-card">
    <video class="card-img-top" 
        ng-if ="$ctrl.player" 
        id="{{$ctrl.player.elementId}}">
    </video>
    <div class="card-body">
        <div class="mediaitem-info">
            <div class="flex-row v-center space-between">
                <h3 class="card-title">{{$ctrl.mediaItem.title}}</h3>
                <div class="flex-row v-center flex-column media-item-love-info">
                    <span ng-click="$ctrl.toggleUserLoveMedia()"
                        ng-class="{'active': $ctrl.mediaItem.user_loves}"
                        class="fas fa-heart transform"></span>
                    <span>{{$ctrl.mediaItem.love_count}}</span>
                </div>
            </div>
            <div class="flex-row v-center uploader-info">
                <avatar user="$ctrl.mediaItem.uploader"></avatar>
                <div>
                    <div class="bold">
                        {{$ctrl.mediaItem.uploader.username}}
                    </div>
                    <div>
                        <small>{{$ctrl.mediaItem.uploaded_on | uploadedOn}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.mediaItem.description"
            class="mediaitem-description">
            {{$ctrl.mediaItem.description}}
        </div>
        <div ng-if="!$ctrl.mediaItem.description"
            class="mediaitem-description empty">
            No description given.
        </div>
    </div>
</div>