<nav class="navbar navbar-expand-lg scrolling-navbar" 
    ng-class="{'fill-nav-background': !navbar.isAtHome()}">
    <div class="col-sm-2">
        <a class="navbar-brand" ui-sref="home">
            <strong>Vine2Vine</strong>
        </a>
    </div>
    <div class="col-sm-6">
        <form ng-submit="navbar.submitSearch()">
            <div class="input-group">
                <input ng-model="navbar.searchTerm" 
                    type="text" 
                    class="form-control" 
                    placeholder="Search">
                <div class="input-group-append">
                <button class="btn btn-primary" 
                    type="submit"
                    ng-click="navbar.submitSearch()">
                    <i class="fas fa-search"></i>
                </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <div class="icon-container" ng-if="navbar.user">
            <i class="fas fa-plus"
                tooltip-placement="bottom" 
                uib-tooltip="Add Video">
            </i>
            <avatar user="navbar.user" 
                uib-popover-template="popoverUrl"
                popover-placement="left-top"
                popover-trigger="'outsideClick'">
            </avatar>
        </div>
        <div class="text-right" ng-if="!navbar.user">
            <button class="btn btn-success"
                ui-sref="auth.login">
                Login
            </button>
        </div>
    </div>
</nav>

<script type="text/ng-template" id="navbarMenuPopover.html">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" 
            ui-sref="auth.profile({id:navbar.user.id})"
            ui-sref-active="active">
            Profile
        </li>
        <li class="list-group-item" ng-click="navbar.logout()">Logout</li>
    </ul>
</script>