avatar {
    .avatar {
        border-radius: 50%;

        &.avatar-small {
            width: 42px;
            height: 42px;
        }

        &.avatar-medium {
            width: 56px;
            height: 56px;
        }

        &.avatar-large {
            width: 72px;
            height: 72px;
        }

        &.avatar-x-large {
            width: 150px;
            height: 150px;
        }

    }
    
    .no-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .avatar {
            background-color: blue;
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
        }
    }
}