<div class="card comments-card">
    <div class="card-body">
        <div class="flex-row space-between v-center">
            <h4 class="card-title">Comments</h4>
            <div class="flex-row v-center">
                <span class="fas fa-plus"
                    tooltip-placement="top" 
                    uib-tooltip="Add Comment"
                    ng-click="$ctrl.openCommentForm()">
                </span>
                <sort-menu sort-objects="$ctrl.sortObjects"
                    title="'Order by'"
                    ng-model="$ctrl.selectedOrder">
                </sort-menu>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-if="$ctrl.formIsOpen">
                <form name="$ctrl.commentForm" ng-submit="$ctrl.submitCommentForm()">
                    <div class="form-group">
                        <textarea name="commentText" 
                            class="form-control"
                            ng-model="$ctrl.newCommentText">
                        </textarea>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-warning" 
                            ng-click="$ctrl.closeCommentForm()">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-success">Add Comment</button>
                    </div>
                </form>
            </li>
            <li class="list-group-item"
                ng-if="$ctrl.comments.length"
                ng-repeat="comment in $ctrl.comments | orderBy: $ctrl.selectedOrder.expression">
                <div>
                    <div class="flex-row space-between">
                        <div class="bold flex-row v-center commenter-info">
                            <avatar user="comment.user"></avatar>
                            {{comment.user.username}}
                        </div>
                        <div class="flex-row flex-column v-center space-between">
                            <span ng-click="$ctrl.toggleUserLoveComment(comment)"
                                ng-class="{'active':comment.user_loves}"
                                class="fas fa-heart transform"></span>
                            <span>{{comment.love_count}}</span>
                        </div>
                    </div>
                    <div>
                        <small>
                            Commented on: {{comment.commented_on | uploadedOn}}
                        </small>
                    </div>
                    {{comment.text}}
                </div>
            </li>
            <li class="list-group-item empty" ng-if="!$ctrl.comments.length">
                No comments yet.
            </li>
        </ul>
    </div>
</div>