svg[data-prefix="fas"].fa-heart {
    color: red
}

.fa-plus {
    color: green
}

.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.mediaitem-info {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.mediaitem-info .fa-heart {
    font-size: 1.5em;
}

.avatar-row {
    margin-bottom: 10px;
}